*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: white;
}


.container{
    max-width: 1200px;
    height: 100vh;
    border: solid 1px rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(246, 8, 0);

    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */ 
    /* flex-wrap: nowrap;  */
    /* flex-wrap: wrap;
    flex-flow: column wrap; */
      justify-content:flex-start;
    /* justify-content:flex-end;
    justify-content:center;   */
    /* justify-content:space-between; */
    /* justify-content:space-around; */
    /* justify-content:space-evenly; */

    align-items: flex-start;
    /* align-items: flex-end;
    align-items: center;
    align-items: stretch; */
    

}

.item{
    border: solid 1px rgb(0, 0, 0);
    width: 1500px;
    height: 50px;
    color: white;
    background-color: rgba(0, 229, 255, 0.757);
    background-image: url(curiosidades-universo-wide.jpg);
    
   
}
