header {
    background-color: #000;
    padding: 20px;
    background-image: url(curiosidades-universo-wide.jpg);
}



.navbar {
    display: inline-flex;
    justify-content:start; 
    align-items: center;
    
}

.search {
 width: 45px;
 height: 45px;
 border-radius: 50px;
 margin-left: 30%
}

.portada{
    width: 400px;
    height: 67px;
    
}
  
.logo {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    padding-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: right;
}
  
.nav-links li {
    margin-left: 20px;

    
}
  
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

.list{
    color: #000;
  }


  